@{
    ViewData["Title"] = "Contact";
}

<!-- Contact Start -->
<div class="container py-5">
    <h1 class="text-center mb-5">Contact Us</h1>
    <div class="row">
        <div class="col-lg-5 rounded-5 px-3 pt-2">
            <form action="" class="">
                <input type="text" class="w-100 form-control border-0 py-3 mb-4 shadow" placeholder="Your Name">
                <input type="email" class="w-100 form-control border-0 py-3 mb-4 shadow" placeholder="Enter Your Email">
                <textarea class="w-100 form-control border-0 mb-4 shadow-lg py-3" rows="5" cols="10" placeholder="Your Message"></textarea>
                <button class="w-100 btn btn-outline-primary form-control border-secondary py-3 bg-white text-primary">Submit</button>
            </form>
        </div>
        <div class="col-lg-7 rounded-3 px-3">
            <img src="/images/contact.jpg" alt="My Image" class="img-fluid image-container rounded-3" />
        </div>
    </div>
</div>
<!-- Contact End -->