@model ChangePasswordViewModel

<div class="row mt-5">
    <div class="col-lg-2">
        <partial name="partials/_AccountSidebar">
    </div>

    <div class="col-lg-10">
        <h4 class="mb-3">Change Password</h4>

        <div asp-validation-summary="All" class="@(ViewData.ModelState.ErrorCount > 0 ? "alert alert-danger" : "") col-md-6"></div>
        <form method="post" class="w-50">
            @if ((bool)ViewBag.HasPassword)
            {
                <div class="col-md-6 mb-3">
                    <label asp-for="CurrentPassword">Current Password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                </div>
            }
            <div class="col-md-6 mb-3">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" id="newPass" />
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPass" />
            </div>

            <button type="submit" class="btn btn-primary mx-1">Save</button>
            <a asp-action="Manage" class="btn btn-outline-secondary mx-1">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $('form').on('submit', function (e) {
            var newPassword = $('#newPass').val();
            var confirmPassword = $('#confirmPass').val();

            if (newPassword !== confirmPassword) {
                e.preventDefault();
                alert("New password and confirm password do not match.");
                $('#confirmPass').focus();
            }
        });
    </script>
}
