@model ConfirmPasswordViewModel

<div class="row justify-content-center">
    <div class="col-md-4">
        <h4>Please confirm your password</h4>
        <div asp-validation-summary="All" class="@(ViewData.ModelState.ErrorCount > 0 ? "alert alert-danger" : "")"></div>
        <form asp-action="ConfirmPassword" method="post">
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" required/>
            </div>
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    </div>
</div>
