@model ResetPasswordViewModel

<div class="row justify-content-sm-center h-100">
    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card-header bg-white border-0 text-center pt-4">
            <h1 class="fs-4 card-title fw-bold mb-0">Reset Password</h1>
        </div>

        <div class="card-body p-5">
            <div asp-validation-summary="All" class="@(ViewData.ModelState.ErrorCount > 0 ? "alert alert-danger" : "")"></div>

            <form asp-controller="Account" asp-action="ResetPassword" method="post" class="needs-validation">

                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="Token" />

                <div class="mb-3">
                    <label class="mb-2 text-muted" asp-for="NewPassword"></label>
                    <input class="form-control" asp-for="NewPassword" type="password" required />
                </div>

                <div class="mb-3">
                    <label class="mb-2 text-muted" asp-for="ConfirmPassword"></label>
                    <input class="form-control" asp-for="ConfirmPassword" type="password" required />
                </div>

                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary ms-auto">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

