@model SupplierViewModel
<li>
    <div class="d-flex justify-content-between fruite-name">
        <a href="/product/supplier/@Model.SupplierId">@Model.SupplierName</a>
        <span>(@Model.ProductCount)</span>
    </div>
</li>