@model ForgotPasswordViewModel

<div class="row justify-content-sm-center h-100">
    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card border-0 rounded-3">
            <div class="card-header bg-white border-0 text-center pt-4">
                <h1 class="fs-4 card-title fw-bold mb-0">Forgot Password</h1>
            </div>

            
            <div class="card-body p-5">
                <div asp-validation-summary="All" class="@(ViewData.ModelState.ErrorCount > 0 ? "alert alert-danger":"")"></div>

                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Send reset link</button>
                </form>
            </div>
        </div>
    </div>
</div>
